<html>
<head>
  <link rel="stylesheet" type="text/css" href="/player/css/player.css" />
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script src="/player/js/all.compressed.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
      window.ltigo = {
        // hooks: {
        //   saved: function(gameName) {
        //     this.gameName = gameName
        //   }
        // },

        makeConfig: function(sgfUrl, options) {
          options = options || {}
          result = {
            <% if load_path %>
              loadPath: [<%= load_path %>],
            <% end %>
            container:      "go-board",
            sgfUrl:         sgfUrl,
            gameName:       options['gameName'],
            //hooks:          ltigo.hooks,
            saveUrl:        "bad", // to make some features work, but we provide our own links right now
            downloadUrl:    "bad",
            theme:          "standard", // "standard" or "compact"
            mode:           "play", // "play" or "view"
            showComments:    true,
            showPlayerInfo:  true,
            showGameInfo:    true,
            showTools:       true,
            showOptions:     false, // so we don't show the broken save and download urls above
            showNavTree:     true,
            markCurrent:     true,
            markVariations:  true,
            markNext:        false,
            problemMode:     false,
            enableShortcuts: true
          };
          return result;
        },

        embed: function() {
          if (player.unsavedChanges) {
            return alert("There are unsaved changes, please save first.");
          }
          var path = player.cursor.getPath();
          window.location.href =
            "/select_position?game_name=" + player.gameName +
            "&load_path=" + path;
        },

        launchLink: function() {
          if (player.unsavedChanges) {
            return alert("There are unsaved changes, please save first.");
          }
          var path = player.cursor.getPath();
          window.location.href =
            "/select_launch_position?game_name=" + player.gameName +
            "&load_path=" + path;
        },

        sendSubmission: function() {
          if (player.unsavedChanges) {
            return alert("There are unsaved changes, please save first.");
          }
          var path = player.cursor.getPath();
          window.location.href =
            "/send_submission?game_name=" + player.gameName +
            "&load_path=" + path;
        },

        save: function() {
          gameName = prompt("Enter a name for this saved file", "enter a file name");
          if (!gameName) return;
          $.post("/save", {game_name: gameName, sgf: player.cursor.getGameRoot().toSgf()}, function(resultText) {
            player.gameName = resultText;
            player.unsavedChanges = false;
          });
        },

        download: function() {
          if (player.unsavedChanges || !player.gameName) {
            alert("unsaved changes")
            return;
          }
          location.href = "/download/<%= current_user_id %>/" + player.gameName
        },

        setSize: function(size) {
          player.loadSgf(ltigo.makeConfig("/sgf/blank-" + size + ".sgf"))
        }
      };

      eidogoConfig = ltigo.makeConfig("<%= view_file_url %>", {gameName: "<%= view_file_game_name %>"});

      var player = new eidogo.Player(eidogoConfig);
    })
  </script>
</head>
<body>
  <% if for_embedding? %>
    <p><a href="javascript:ltigo.embed()">Embed this position</a></p>
  <% elsif for_launch_link? %>
    <p><a href="javascript:ltigo.launchLink()">Link to this position</a></p>
  <% elsif for_submission? %>
    <p><a href="javascript:ltigo.sendSubmission()">Submit Assignment</a></p>
  <% end %>
  <p>
    <a href="javascript:ltigo.setSize(9);">Load 9x9</a>
    <a href="javascript:ltigo.setSize(13);">Load 13x13</a>
    <a href="javascript:ltigo.setSize(19);">Load 19x19</a>
  </p>
  <p>
    <a href="javascript:ltigo.save();">Save</a>
    <a href="javascript:ltigo.download();">Download</a>
    <a href="/list">Show Existing Files</a>
    <a href="/upload">Upload File</a>
  </p>

  <div id="go-board"></div>

<!--
  <h3>Parameters</h3>
  <table>
    <% params.keys.sort.each do |key| %>
      <tr>
        <td><%= key %></td>
        <td><%= params[key] %></td>
      </tr>
    <% end %>
  </table>
 -->
</body>
</html>
